div.wrapper-carousel.hidden-md-up
	div#slide-latest-film-review 
		.container
			p.slide-title Latest Film Review
			article.latest-film-review-article
				a(class='slide-link' href='/film-reviews')
					img(class="latest-film-review-image" src='http://images.media-allrecipes.com/userphotos/720x405/828805.jpg' alt="img")
				section.slide-copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper condimentum egestas. Mauris scelerisque velit at tortor condimentum, id imperdiet dui pellentesque. Etiam viverra, lorem at vulputate elementum, enim sapien semper magna, in varius elit mauris in elit. Etiam eleifend ante vel mauris pulvinar, quis tempor sem hendrerit. Aenean finibus hendrerit ex, sed mattis orci convallis quis. Donec lobortis velit sed augue tempus accumsan. Etiam velit augue, scelerisque ac dignissim et, luctus vel dui. Mauris aliquet mattis urna, sit amet ullamcorper enim laoreet eu. Vestibulum a volutpat felis.
				a(class='slide-link read-more' href='/film-reviews') ...Read More!
	div#slide-weekend-exercise-challenge
		.container
			p.slide-title Weekend Exercise Challenge
			article.latest-film-review-article
				a(class='slide-link' href='/exercise')
					img(class="latest-film-review-image" src='http://images.media-allrecipes.com/userphotos/720x405/828805.jpg' alt="img")
				section.slide-copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper condimentum egestas. Mauris scelerisque velit at tortor condimentum, id imperdiet dui pellentesque. Etiam viverra, lorem at vulputate elementum, enim sapien semper magna, in varius elit mauris in elit. Etiam eleifend ante vel mauris pulvinar, quis tempor sem hendrerit. Aenean finibus hendrerit ex, sed mattis orci convallis quis. Donec lobortis velit sed augue tempus accumsan. Etiam velit augue, scelerisque ac dignissim et, luctus vel dui. Mauris aliquet mattis urna, sit amet ullamcorper enim laoreet eu. Vestibulum a volutpat felis.
				a(class='slide-link read-more' href='/exercise') ...Read More!
	div#slide-latest-cooking-recipe
		.container
			p.slide-title Latest Cooking Receipe
			article.latest-film-review-article
				a(class='slide-link' href='/eat')
					img(class="latest-film-review-image" src='http://images.media-allrecipes.com/userphotos/720x405/828805.jpg' alt="img")
				section.slide-copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper condimentum egestas. Mauris scelerisque velit at tortor condimentum, id imperdiet dui pellentesque. Etiam viverra, lorem at vulputate elementum, enim sapien semper magna, in varius elit mauris in elit. Etiam eleifend ante vel mauris pulvinar, quis tempor sem hendrerit. Aenean finibus hendrerit ex, sed mattis orci convallis quis. Donec lobortis velit sed augue tempus accumsan. Etiam velit augue, scelerisque ac dignissim et, luctus vel dui. Mauris aliquet mattis urna, sit amet ullamcorper enim laoreet eu. Vestibulum a volutpat felis.
				a(class='slide-link read-more' href='/eat') ...Read More!
	div#slide-latest-travel-photo
		.container
			p.slide-title Latest Travel Photo
			article.latest-film-review-article
				a(class='slide-link' href='/travel')
					img(class="latest-film-review-image" src='http://images.media-allrecipes.com/userphotos/720x405/828805.jpg' alt="img")
				section.slide-copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper condimentum egestas. Mauris scelerisque velit at tortor condimentum, id imperdiet dui pellentesque. Etiam viverra, lorem at vulputate elementum, enim sapien semper magna, in varius elit mauris in elit. Etiam eleifend ante vel mauris pulvinar, quis tempor sem hendrerit. Aenean finibus hendrerit ex, sed mattis orci convallis quis. Donec lobortis velit sed augue tempus accumsan. Etiam velit augue, scelerisque ac dignissim et, luctus vel dui. Mauris aliquet mattis urna, sit amet ullamcorper enim laoreet eu. Vestibulum a volutpat felis.
				a(class='slide-link read-more' href='/travel') ...Read More!
	div#slide-play
		.container
			p.slide-title Latest Play Suggestion
			article.latest-film-review-article
				a(class='slide-link' href='/play')
					img(class="latest-film-review-image" src='http://images.media-allrecipes.com/userphotos/720x405/828805.jpg' alt="img")
				section.slide-copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper condimentum egestas. Mauris scelerisque velit at tortor condimentum, id imperdiet dui pellentesque. Etiam viverra, lorem at vulputate elementum, enim sapien semper magna, in varius elit mauris in elit. Etiam eleifend ante vel mauris pulvinar, quis tempor sem hendrerit. Aenean finibus hendrerit ex, sed mattis orci convallis quis. Donec lobortis velit sed augue tempus accumsan. Etiam velit augue, scelerisque ac dignissim et, luctus vel dui. Mauris aliquet mattis urna, sit amet ullamcorper enim laoreet eu. Vestibulum a volutpat felis.
				a(class='slide-link read-more' href='/play') ...Read More!