extends ./layout.jade

block content
  div.wrapper-content.film-reviews
    div.container-fluid.clearfix
      div.row
        div.col-sm-12
          div#filmReviewsSearch
            span Film Review Archives
            form#search(method="get", accept-charset="UTF-8")
              input(type="text", placeholder="SEARCH")
              button(type="submit" value="")
                i(class="fa fa-search" aria-hidden="true")
      div.container.content
        h1 Film Reviews
        div.row
          div.hidden-xs.hidden-sm.visible-md.col-md-6.visible-lg.col-lg-8
            section#latest-film-review
              article
                div.row
                  div.col-sm-12
                    h3 Latest Review
                    a(class="poster" href="/film-reviews/title")
                    img(class="latest-film-review-image" src='https://oysternotes.files.wordpress.com/2016/11/manchester.jpg' alt="img")
                    a(class="title" href="/film-reviews/title")
                      h3.title Film Title 1 (2016)
                    p.rating-year 
                      i(class="fa fa-star" aria-hidden="true")
                      i(class="fa fa-star" aria-hidden="true")
                      i(class="fa fa-star" aria-hidden="true")
                      i(class="fa fa-star" aria-hidden="true")
                div.row
                  div.col-sm-12
                    p November 18, 2016
                    p A lot of films represent truth and the struggles humans must endure to survive day to day vicissitudes, but “Manchester by the Sea” practically feels human itself. It is alive and observant, happy and sad, humorous and resentful, and its characters come with their own choices and limitations. Just as humans sometimes feel they live just because they have to, “Manchester by the Sea” progresses naturally and without necessarily guaranteeing a certain outcome. It simply and unaffectedly watches its characters as they search for absolution, attempt to make sense of their situations, and hope the decisions they make are (finally) the right ones.
                    p All this makes “Manchester by the Sea” sound like a grave, hard-hitting, depressing drama, and in many ways it is, but life can be too sometimes, and it's the deep, dark, somber moments we experience, combined with the lighter, more superficial and joyful events that make up this whole crazy thing called living. Collectively, they keep us going, and while many of life's challenges can be hard to bear, it's our hope that we can at least look back on them and realize they've made us grow and learn and ultimately given our lives meaning.
                    p That Kenneth Lonergan's film impelled me to write what I hope was a contemplative introduction speaks to the film's power. And yet, what's remarkable about it is that it tells a relatively simple story, lending further evidence to the idea that it's usually the simplest narratives that are also best because they tend to be the most free, raw and pure. 
                    p In the film, Lee Chandler (Casey Affleck) is the super for three lower class apartment buildings in Quincy, Massachusetts, just outside of Boston. On any given day, he tends to the needs of the buildings' colorful tenants, from changing the lightbulb for an old Jewish woman who won't stop yapping about an upcoming bat mitzvah, to unclogging the toilet for a desirous woman who tells a friend on the phone she has a crush on Lee, who's within earshot. 
                    p After a handful of these episodes, which play as light-hearted comedy, we wonder where the film is going. But then Lee deals with a particularly difficult and accusatory tenant, and after he gets angry and curses, we begin to see Lee has a temper and a dark side. He's also socially awkward and prone to starting fist fights. His one pleasure, it seems, is sitting in a bar and drinking till all hours of the night, tuning out the crowd around him. 
                    p Then, one day, Lee receives a phone call from George (C.J. Wilson), a colleague of his older brother, Joe (Kyle Chandler). Joe has collapsed and is in the hospital for congestive heart failure. Lee tells George it will take him an hour and a half to drive up to Essex to see him, but by the time he gets there, it's too late: Joe has passed away, and this sets in motion Lee's adventure, so to speak, in which he must suddenly make some very difficult decisions he never expected he'd be the one making.
                    p One of these is either accepting or declining to be the legal guardian of Joe's son, Patrick (Lucas Hedges), who's 16, sometimes angry, often difficult, insecure, horny, and dating two girls at the same time. In other words, he's a typical male teenager and he makes it clear that he doesn't want to move back to the Boston area with Lee in case he decides to fulfill Joe's dying wish. The film uses this decision as a catalyst for the ensuing drama as well as a series of flashbacks that fully characterize Lee and explain his current temperament. We come to learn he has an ex-wife (Michelle Williams) and that a tragic lapse in judgement on his part led to his present state of bitterness and loneliness.
                    p But to assume the film is only about its immediate conflict would be selling it short. The film is about the nuances and fluctuations everyday life and captures them so well that I wonder if it's possible for anyone to watch it and not be reminded of his or her own experiences, like driving through one's old town and recognizing buildings and streets that immediately prompt certain memories; or having to accept the fact that sometimes things just don't work, like stretchers not folding up into an ambulance, or a freezer not holding food; or listening to someone's cell phone go off at an inappropriate time and feeling annoyed because you can't do anything about it; or shouting across a room full of crowded people and not communicating clearly; or feeling cold and frustrated because you can't remember where you parked the freaking car; or not being able to make small talk with someone you just met. 
                    p It's moments like these that make “Manchester by the Sea” special and moving because they ring so familiar and allow us to make an instant connection with the characters. All throughout the film, we feel an enormous amount of empathy toward them and I'm convinced this was Lonergan's goal: to get the audience to recognize these people, understand these people, and share their frustrations, all in an effort to invoke compassion and make us better people ourselves. Why? Because being able to identify with others is one of the essential ingredients in being human and perhaps one of the reasons why we're here in the first place.
                    p This sense of empathy starts with Lee but extends to the other characters, too, especially Patrick, who's not painted as a one-dimensional teenager but as a complicated, troubled kid. Yes, he mouths off and has an attitude problem, but he also shows love and affection toward his friends and family. He wants to stay where he is because his dad ran a commercial fishing boat and he feels compelled to upkeep it. It was nice to see the Patrick character care about something and possess heavy thoughts instead of being reduced to a shallow adolescent. In a particularly uncomfortable scene, he has lunch with his estranged mother (Gretchen Mol), a recovering alcoholic, and her “very Christian” new husband (Matthew Broderick). The way this scene plays out, and the way Hedges carries it, feels so real it could have just as well been a scene from a dysfunctional family documentary.
                    p I imagine Lonergan and his cast had some really intense read-throughs and interpretations of Lonergan's screenplay, because each scene is so organic and shows such a strong understanding of the material that I often forgot I was watching actors, each of whom disappears into his or her role without overreaching or going for an effect. Affleck and Williams, in particular, remind us just how much range they have, and just as he did with “You Can Count on Me,” Lonergan shows us he's a storyteller who's more interested in possibilities and leaving narrative threads open than limiting them to definite results.
                    p During “Manchester by the Sea,” I feel I experienced the same range of emotions as the characters: sadness, anger, frustration, hope, and eventually relief, which came at the end when Lee speaks four unforgettable words to Patrick and we see that he has finally accepted something about himself. When the credits roll, we think he can maybe (but not certainly) start to heal and rediscover a purpose to his life. The film reminds us that's a desire, among many others, all humans share. 
          div.col-sm-12.col-md-6.col-lg-4
            div#latest-reviews-list
              h3.hidden-xs.hidden-sm.visible-md.visible-lg Other Recent Posts
              figure.hidden-md.hidden-lg
                a(class="poster" href="/film-reviews/title")
                  img(class="latest-film-review-image" src='https://oysternotes.files.wordpress.com/2016/11/manchester.jpg' alt="img")
                a(class="title" href="/film-reviews/title")
                  h5 Film Title 1 (2016)
                p.rating-year 
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
              figure
                a(class="poster" href="/film-reviews/title")
                  img(class="" src='http://static.rogerebert.com/uploads/movie/movie_poster/fences-2016/widget_fences.jpg' alt='img')
                a(class="title" href="/film-reviews/title")
                  h5 Film Title 2 (2016)
                p.rating-year 
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
              figure
                a(class="poster" href="/film-reviews/title")
                  img(class="" src='http://static.rogerebert.com/uploads/movie/movie_poster/fences-2016/widget_fences.jpg' alt='img')
                a(class="title" href="/film-reviews/title")
                  h5 Film Title 3 (2016)
                p.rating-year 
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
              figure
                a(class="poster" href="/film-reviews/title")
                  img(class="" src='http://static.rogerebert.com/uploads/movie/movie_poster/fences-2016/widget_fences.jpg' alt='img')
                a(class="title" href="/film-reviews/title")
                  h5 Film Title 4 (2016)
                p.rating-year 
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
              figure
                a(class="poster" href="/film-reviews/title")
                  img(class="" src='http://static.rogerebert.com/uploads/movie/movie_poster/fences-2016/widget_fences.jpg' alt='img')
                a(class="title" href="/film-reviews/title")
                  h5 Film Title 5 (2016)
                p.rating-year 
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
              figure
                a(class="poster" href="/film-reviews/title")
                  img(class="" src='http://static.rogerebert.com/uploads/movie/movie_poster/fences-2016/widget_fences.jpg' alt='img')
                a(class="title" href="/film-reviews/title")
                  h5 Film Title 6 (2016)
                p.rating-year 
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")
                  i(class="fa fa-star" aria-hidden="true")