extends ./layout.jade

block content
  div.wrapper-content.film-reviews
    div.container-fluid.clearfix
      div.row
        div.col-sm-12
          div#filmReviewsSearch
            span Film Review Archives
            form#search(method="get", accept-charset="UTF-8")
              input(type="text", placeholder="Search")
      div.row
        div.col-sm-12
          .container.content
            div#latest-reviews-list
              h1 Latest Reviews
              figure
                a
                  img(class="" src='https://oysternotes.files.wordpress.com/2016/11/manchester.jpg' alt="img")
                h1 Film Title 1
                p Rating and year
              figure
                a
                  img(class="" src='https://oysternotes.files.wordpress.com/2016/11/manchester.jpg' alt="img")
                h1 Film Title 1
                p Rating and year
              figure
                a
                  img(class="" src='https://oysternotes.files.wordpress.com/2016/11/manchester.jpg' alt="img")
                h1 Film Title 1
                p Rating and year
              figure
                a
                  img(class="" src='https://oysternotes.files.wordpress.com/2016/11/manchester.jpg' alt="img")
                h1 Film Title 1
                p Rating and year
              figure
                a
                  img
                h1 Film Title 1
                p Rating and year
              figure
                a
                  img
                h1 Film Title 1
                p Rating and year