extends ./layout.jade

block content
  include ./includes/slider.jade
  //include ./partials/_header.jade
  //include ./partials/_nav.jade
  //include ./includes/slider.jade
  //include ./includes/wrapper-index.jade
  //h1 My Home Page
      |         
      p.lead
        | Use thi document as a way to quickly start any new project.
        br
        |  All you get is this text and a mostly barebones HTML document.
  //|     
  //h1 Rajasegar
  //include ./includes/wrapper-index.jade