/*------------------------------------*\
  #FILM REVIEWS SEARCH RESULTS
\*------------------------------------*/
#film-reviews-search-results .wrapper-content .content-body .container {
  max-width: 1400px;
  width: 100%;
}
#film-reviews-search-results .wrapper-content .primary-item-title {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'MyriadProBold';
  font-size: 1.46em;
  margin-bottom: 18px;
}
/*
  ** Result Link
  */
#film-reviews-search-results .film-review-search-results .resultLink-wrapper {
  display: block;
  font-size: 1.19em;
  line-height: 1;
  margin-bottom: 10px;
}
#film-reviews-search-results .film-review-search-results .resultLink {
  background: transparent;
  border: none;
  color: #337ab7;
  display: inline-block;
  outline: 0;
  padding: 0;
  transition-duration: 0.5s;
}
#film-reviews-search-results .film-review-search-results .resultLink:active,
#film-reviews-search-results .film-review-search-results .resultLink:focus,
#film-reviews-search-results .film-review-search-results .resultLink:hover {
  color: black;
}
/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 768px) {
  #film-reviews-search-results .wrapper-content .primary-item-title {
    font-size: 1.66em;
  }
}
@media (min-width: 992px) {
  #film-reviews-search-results .wrapper-content .primary-item-title {
    font-size: 1.71em;
  }
}
