/*------------------------------------*\
  #FILM REVIEWS
\*------------------------------------*/

#latest-reviews-list figure {
  background-color: red;
  float: left;
  margin-right: 5%;
  padding-top: 10px;
  width: 45%;
}


/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  
}