/*------------------------------------*\
  #FILM REVIEWS
\*------------------------------------*/
#latest-reviews-list figure {
  background-color: red;
  float: left;
  margin-right: 5%;
  padding-top: 10px;
  width: 45%;
}
/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
