/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.wrapper-header {
	position: relative;
}

#followMe_top {
	background-color: rgba(219,209,173,1);
	display: none;
	font-family: 'BankGothicLight';
	font-size: 1.3em;
	padding-top: 30px;
    position: absolute;
    right: 0;
    text-align: left;
    width: 25%;
    z-index: 2000;
}

#followMe_top a { 
	color: inherit;
	font-size: 1.25em;
	margin: 1px 10px 1px 0px;
	text-align: left;
}

#followMe_top a.email { 
	margin-top: 0px;
}

#followMe_top a img { 
	vertical-align: top;
	width: 24px;
}

#followMe_top a img.envelope { 
	margin-top: -3px;
	width: 30px;
}

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}