/*------------------------------------*\
  #HOME PAGE
\*------------------------------------*/

.home .content {
	display: none;
	margin: 10px;
}

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

@media only screen and (min-width : 768px) {
    .hidden-md-up {
	    display: none !important;
	}

	.home .content {
		display: block;
	}  

	.home .row .col-sm-6 div:first-child {
		height: 400px;
	}

	.home .row .col-sm-6 div:first-child article a {
		height: 200px;
		overflow: hidden;
	}
}

@media only screen and (min-width : 992px) {
    
}

@media (min-width: 1200px) {
  .home-film-reviews {
    height: 300px;
    overflow: hidden;
  }
}
