/*------------------------------------*\
  #INTERIOR PAGE(S)
\*------------------------------------*/
/*
** All Interior Pages
*/
/*
** General Styles
*/
.wrapper-content.interior-page a {
  display: inline-block;
  text-decoration: none;
  transition-duration: 0.5s;
}
.wrapper-content.interior-page a:active,
.wrapper-content.interior-page a:focus,
.wrapper-content.interior-page a:hover {
  text-decoration: none;
  transition-duration: 0.5s;
}
/*
** Content
*/
.wrapper-content.interior-page .content-body {
  height: 100%;
}
.wrapper-content.interior-page .content-body-primary {
  height: 100%;
}
.wrapper-content.interior-page .container {
  height: 100%;
  max-width: 1400px;
  width: 100%;
}
.wrapper-content.interior-page .row {
  display: flex;
  height: 100%;
}
.wrapper-content.interior-page [class*='col-'] {
  flex: auto;
}
.wrapper-content.interior-page .secondary-item {
  height: auto;
}
.wrapper-content.interior-page .primary-item-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: none;
}
.wrapper-content.interior-page .primary-item-copy-title {
  margin: 20px 0 5px;
}
/*
** About
*/
/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
