/*------------------------------------*\
  #ALL INTERIOR PAGES
\*------------------------------------*/

/**
* Interior page title
*/
.interior-page-title {

}

/**
* Interior page images
*/
.interior-page-image-container {
	margin-bottom: 30px;
}

	.interior-page-image-container img {
	  margin-bottom: 15px;
	}

	.interior-page-image-caption {

	}

/*------------------------------------*\
  #ABOUT
\*------------------------------------*/


/*------------------------------------*\
  #EAT
\*------------------------------------*/


/*------------------------------------*\
  #EXERCISE
\*------------------------------------*/


/*------------------------------------*\
  #PLAY
\*------------------------------------*/


/*------------------------------------*\
  #TRAVEL
\*------------------------------------*/


/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 768px) {
	/**
	* Below declarations apply to all interior pages except Film Reviews
	*/
	.float-left {
    	float: left;
    	width: 50%;
 	}

	.float-right {
		float: right;
		width: 50%;
	}

	.interior-page-image-container {
	    top: -45px;
	}
}

@media (min-width: 992px) {
	.float-left {
	    width: 33.333%;
	}

  	.float-right {
    	width: 66.666%;
  	}
}

@media (min-width: 1200px) {
  
}