/*------------------------------------*\
  #NAV
\*------------------------------------*/

.wrapper-nav {
	position: relative;
}

    .wrapper-nav .navbar {
        background: rgba(219,209,173,1.0);
        font-family: 'BankGothicLight';
        margin: 0;
    }

        .wrapper-nav .container {
            width: 100%;
        }

            .wrapper-nav .navbar-inverse {
                border: none;
            }

                .wrapper-nav .navbar-header {
                    padding: 10px 0;
                    position: relative;
                }

                    /*
                    ** Navigation Brand 
                    */
                    .wrapper-nav .navbar-brand {
                        color: rgba(30,33,31,1.0);
                        display: inline-block;
                        height: auto;
                        margin: 0 0 0 15px;
                        padding: 0;
                        text-align: center;
                        transition-duration: 0.5s;
                    }

                        .wrapper-nav .navbar-brand:active,
                        .wrapper-nav .navbar-brand:focus,
                        .wrapper-nav .navbar-brand:hover {
                          	background: transparent;
                            color: rgba(181,120,67,1.0);
                        }

                            .wrapper-nav .initials {
                                display: block;
                                font-size: 3.5em;
                                height: 34px;
                                letter-spacing: -0.08em;
                                line-height: 68px;
                            }

                            .wrapper-nav .fullName {
                                display: block;
                                font-size: 1em;
                                line-height: 100%;
                                height: 16px;
                                text-transform: uppercase;
                            }

                        /*
                        ** Navigation Collpased Menu Button (Hamburger)
                        */
                        .wrapper-nav .navbar-toggle {
                            background: rgba(30,33,31,1.0);
                            height: 34px;
                            margin: 0 15px 0 0;
                            transition-duration: 0.5s;
                        }

                        .wrapper-nav .navbar-toggle:active, 
                        .wrapper-nav .navbar-toggle:focus, 
                        .wrapper-nav .navbar-toggle:hover {
                            background: rgba(181,120,67,1.0);
                        }

                /* 
                * Navigation Main Bar
                */
                .wrapper-nav .navbar-collapse {
                    background: rgba(181,120,67,1.0);
                }

                    .wrapper-nav .navbar-collapse .navbar-nav > li {
                        display: block;
                        float: none;
                        padding: 0px;
                        text-transform: uppercase;
                    }

                        .wrapper-nav .navbar-inverse .navbar-nav > li > a {
                            color: rgba(30, 33, 31, 1.0);
                            height: auto;
                            line-height: 25px;
                            padding: 10px 15px;
                            transition-duration: 0.5s;
                        }

                            .wrapper-nav .navbar-inverse .navbar-nav > li > a i {
                                vertical-align: top;
                            }

                        .wrapper-nav .navbar-inverse .navbar-collapse .navbar-nav > li > a:active,
                        .wrapper-nav .navbar-inverse .navbar-collapse .navbar-nav > li > a:focus,
                        .wrapper-nav .navbar-inverse .navbar-collapse .navbar-nav > li > a:hover {
                            color: rgba(255, 255, 255, 1.0);
                        }

                    /*
                    * Navigation Main Bar: Active State
                    */
                    .wrapper-nav .navbar #navbar .nav li.active-top,
                    .wrapper-nav .navbar #navbar .nav li.active-top button,
                    .wrapper-nav .navbar #navbar .nav li a.active {
                        color: rgba(255, 255, 255, 1.0);
                    }

                            /* 
                            * Navigation Bar "Lifestyle" Dropdown
                            */
                            .wrapper-nav .dropdown {
                                color: rgba(30, 33, 31, 1.0);
                                font-family: 'BankGothicLight';
                                line-height: 100%;
                                padding: 10px 15px;
                                transition-duration: 0.5s;
                            }

                                    .wrapper-nav .navbar-inverse .navbar-nav > .open > a, 
                                    .wrapper-nav .navbar-inverse .navbar-nav > .open > a:active, 
                                    .wrapper-nav .navbar-inverse .navbar-nav > .open > a:focus, 
                                    .wrapper-nav .navbar-inverse .navbar-nav > .open > a:hover {
                                        background: rgba(30,33,31,1.0);
                                        color: rgba(255, 255, 255, 1.0);
                                    }

                                        .wrapper-nav .dropdown-menu {
                                            font-size: 1em;
                                        }

                                        .wrapper-nav .open > ul.dropdown-menu {
                                            background: rgba(30,33,31,1.0);
                                        }

                                            .wrapper-nav .open > ul.dropdown-menu li {
                                                display: block
                                            }

                                                /*Edit this/adjust for all screen sizes (currently only caters to large desktop view)*/
                                                .wrapper-nav .dropdown-menu > li > a {
                                                  height: 35px;
                                                }

                                                    .wrapper-nav .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
                                                        color: rgba(255, 255, 255, 1.0);
                                                        line-height: 25px;
                                                        padding: 10px 15px 10px 25px;
                                                        transition-duration: 0.5s;
                                                    }

                                                    .wrapper-nav .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:active,
                                                    .wrapper-nav .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
                                                    .wrapper-nav .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
                                                        background: transparent;
                                                        color: rgba(255, 255, 255, 0.5);
                                                    }

                                                    /*
                                                    * Navigation Bar Dropdown Menu: Active State
                                                    */
                                                    .wrapper-nav .navbar #navbar .nav .dropdown-menu li.active-top,
                                                    .wrapper-nav .navbar #navbar .nav .dropdown-menu li.active-top button,
                                                    .wrapper-nav .navbar #navbar .nav .dropdown-menu li a.active {
                                                        background: rgba(255, 255, 255, 1.0);
                                                        color: rgba(0, 0, 0, 1.0);
                                                    }

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

@media (min-width: 600px) {
    .wrapper-nav .navbar {
        border-radius: 0;
        text-align: center;
    }

    .wrapper-nav .navbar-header {
        display: none;
    }

    .wrapper-nav .navbar-collapse {
        background: transparent;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: auto;
    }

    .wrapper-nav .navbar-collapse.collapse {
        display: block;
        height: auto !important;
        overflow: visible !important;
        padding-bottom: 0;
    }

    .wrapper-nav .navbar-collapse.in {
        overflow-y: visible;
    }

    .wrapper-nav .navbar-nav {
        float: left;
        margin: 0;
    }

    .wrapper-nav .navbar-collapse .navbar-nav > li  {
        display: inline-block;;
    }

    .wrapper-nav .navbar-inverse .navbar-nav > li > a {
        font-size: 1.15em;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .wrapper-nav .navbar-nav .open .dropdown-menu {
        position: absolute;
    }
}

@media (min-width : 768px) {
    .wrapper-nav .navbar-collapse {
        background: transparent;
        padding: 0;
    }
}

@media (min-width : 992px) {
    .wrapper-nav #followMe_top {
        display: block;
    }
}

@media (min-width : 1200px) {
    .wrapper-nav {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        pointer-events: none;
        position: absolute;
        right: 0;
        width: 100%;
    }

    .wrapper-nav .navbar {
        background: transparent;
        height: 55px !important;
    }

     .wrapper-nav .container {
        height: 100%;
        max-width: 1400px;
    }

    .wrapper-nav .navbar-collapse {
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: auto;
    }

    .wrapper-nav .navbar-collapse.collapse {
        display: inline-block !important;
        height: auto !important;
        overflow: visible !important;
        margin-top: 12.5px;
        padding-bottom: 0;
        pointer-events: auto;
    }

    .wrapper-nav .navbar-inverse .navbar-nav > li > a {
        padding-top: 14px;
        padding-bottom: 3px;
    }

    .wrapper-nav .navbar-inverse .navbar-nav > li > a i {
        margin-top: -5px;
    }

     .wrapper-nav .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        line-height: 28px;
    }

    .wrapper-nav .navbar-inverse .navbar-brand span.initials {
        font-size: 5em;
    }

    .wrapper-nav .navbar-inverse .navbar-brand span.fullName,
    .wrapper-nav .navbar-inverse .navbar-collapse {
        font-size: 1.25em;
    }
}
