/*------------------------------------*\
  #SLICK CAROUSEL
\*------------------------------------*/

.wrapper-slick-carousel {
	position: relative;
}

	/**
 	 * slick-theme.css overrides
	*/

	/**
	 * Inherent class from slick.css representing each slide; exists on same level as author-implemented id
	*/
	.wrapper-slick-carousel .slick-slide {
		margin-bottom: 12px;
		width: 100%;
	}

	/**
	 * Remove default dotted outline
	*/
	.wrapper-slick-carousel .slick-slide:active,
	.wrapper-slick-carousel .slick-slide:focus {
		outline: 0;
	}

	/**
	 * Slick Arrows
	*/
	.wrapper-slick-carousel .slick-arrow,
	.wrapper-slick-carousel .slick-next, 
	.wrapper-slick-carousel .slick-prev {
		display: none !important;
	}

	/**
	 * Slick Arrows
	*/
	.wrapper-slick-carousel .slick-dots {
		bottom: -15px;
	}

		.wrapper-slick-carousel .slick-dots li {
			vertical-align: middle;
		}

			.wrapper-slick-carousel .slick-dots li button {

			}

			.wrapper-slick-carousel .slick-dots li button::before {
				color: rgba(255, 255, 255, 1.0);
				font-size: 50px;
				opacity: 1.0;
			}

			.wrapper-slick-carousel .slick-dots li.slick-active button::before {
				color: #b57843;
				opacity: 1.0;
			}

	/**
 	 * Developer-implemented styles
	*/

	.wrapper-slick-carousel .slick-carousel {
		padding: 10px 0;
		position: relative;
	}

		.wrapper-slick-carousel .article-wrapper {
			background: rgba(255, 255, 255, 1.0);
			-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
			box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);	
			margin: 10px;
			padding-top: 10px;
		}

		.wrapper-slick-carousel .slide-title {
			display: block;
			font-family: 'BankGothicLight';
			font-weight: 500;
			text-align: left;
			text-transform: uppercase;
		}

		.wrapper-slick-carousel .slide-link {
			display: block;
			font-family: 'MyriadProBold';
			font-weight: 700;
			margin-bottom: 15px;
		    margin-left: auto;
		    margin-right: auto;
		    text-transform: uppercase;
		}

		.wrapper-slick-carousel .slide-link:active,
		.wrapper-slick-carousel .slide-link:focus,
		.wrapper-slick-carousel .slide-link:hover {
			outline: 0;
		}

			.wrapper-slick-carousel img {
				height: auto;
				width: 100%
			}

			.wrapper-slick-carousel .slide-copy {
				display: block;
				max-height: 250px;
				overflow: hidden;
				text-align: left;
			}

		.wrapper-slick-carousel .slide-link-read-more {
			display: block;
			margin-top: 15px;
			text-align: right;
		}


/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
