/*------------------------------------*\
  #SLICK CAROUSEL
\*------------------------------------*/

.wrapper-carousel {
	position: relative;
	min-height: 520px;
	padding: 10px 0;
}

.wrapper-carousel .container {
	background-color: rgba(255, 255, 255, 1.0);
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);	
	margin: 10px;
	padding-top: 10px;
}

/**
 * slick-theme.css overrides
 */
 .slick-arrow,
 .slick-next, 
 .slick-prev {
 	display: none !important;
 }

.slick-dots {
 	bottom: -15px;
 }

 .slick-dots li {
 	vertical-align: middle;
 }

 .slick-dots li button {

 }

 .slick-dots li button::before {
	color: rgba(255, 255, 255, 1.0);
	font-size: 50px;
	opacity: 1.0;
}

.slick-dots li.slick-active button::before {
	color: #b57843;
	opacity: 1.0;
}

/**
 * Inherent class from slick.css representing each slide; exists on same level as author-implemented id
 */
.slick-slide {
	margin-bottom: 12px;
	min-height: 520px;
	width: 100%;
}

/**
 * Removed default dotted outline
 */
.slick-slide:active,
.slick-slide:focus {
	outline: 0;
}

/**
 * Author-implemented selectors
 */
.slide-title {
	font-family: 'BankGothicLight';
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
}

.slide-link {
	margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide-link:active,
.slide-link:focus  {
	outline: 0;
}

.slide-link img {
	height: auto;
	width: 100%
}

.slide-copy {
	max-height: 250px;
	overflow: hidden;
	text-align: left;
}

.read-more {
	margin-top: 15px;
	text-align: right;
}

/*#slide-latest-film-review .slide-image {
	background: url('http://images.media-allrecipes.com/userphotos/720x405/828805.jpg') no-repeat;
	background-size: contain;
	min-height: 520px;
}*/

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
