/* Body
======= */
body {
	font-size: 16px;
  	text-transform: uppercase;
  	color: rgba(30,33,31,1.0);
}

/*Fonts
======= */
@font-face {
    font-family: 'BankGothicLight';
    src: url('/fonts/BankGothicLight.eot');
    src: url('/fonts/BankGothicLight.eot') format('embedded-opentype'),
         url('../fonts/BankGothicLight.woff2') format('woff2'),
         url('../fonts/BankGothicLight.woff') format('woff'),
         url('../fonts/BankGothicLight.ttf') format('truetype'),
         url('/fonts/BankGothicLight.svg#BankGothicLight') format('svg');
}

/* Header ("Follow Me")
======================= */
#followMe_top {
	background-color: rgba(219,209,173,1);
	display: none;
	font-family: 'BankGothicLight';
	font-size: 1.3em;
	padding-top: 30px;
    position: absolute;
    right: 0;
    text-align: left;
    width: 25%;
    z-index: 2000;
}

#followMe_top a { 
	color: inherit;
	font-size: 1.25em;
	margin: 1px 10px 1px 0px;
	text-align: left;
}

#followMe_top a.email { 
	margin-top: 0px;
}

#followMe_top a img { 
	vertical-align: top;
	width: 24px;
}

#followMe_top a img.envelope { 
	margin-top: -3px;
	width: 30px;
}

/* Navigation bar
================= */
.navbar {
	background-color: rgba(219,209,173,1);
	min-height: 100px;
}

.navbar .navbar-header {
	min-height: 100px;
}

/*Uncomment below to center nav options in collapsed state*/
/*.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}*/

/* Navigation bar --> Brand (MDH - Matthew D Huntley)
===================================================== */
.navbar-brand {
    margin-top: 35px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: rgb(181,120,67);
  	background-color: transparent;
}

.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a {
	color: rgb(30,33,31);
	font-family: 'BankGothicLight';
	text-align: center;
}

.navbar-inverse .navbar-brand span.initials {
	font-size: 4em;
}

.navbar-inverse .navbar-brand span.fullName {
	font-size: 1em;
	text-transform: uppercase;
}

/* Navigation bar --> Hamburger
=============================== */
.navbar-toggle {
	background-color: rgba(30,33,31,1);
	margin-top: 50px;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(181,120,67);
}

/* Navigation Bar Collapsed
=========================== */
.navbar-inverse .navbar-collapse {
	background-color: rgba(181,120,67,1);
	font-size: 0.75em;
}

/* Navigation Bar Collapsed --> List Items
============================================ */
.navbar-inverse .navbar-collapse .navbar-nav > li {
	display: inline-block;
	float: left;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
}

.navbar-inverse .navbar-collapse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-collapse .navbar-nav > li > a:focus {
	color: rgba(255,255,255,1);
}

.navbar-inverse .navbar-collapse > .active > a,
.navbar-inverse .navbar-collapse > .active > a:hover,
.navbar-inverse .navbar-collapse > .active > a:focus {
	color: red;
  	background-color: #080808;
}

.navbar-inverse .navbar-collapse .navbar-nav > li > div > button {
	background-color: rgb(181,120,67);
    border: none;
    font-family: BankGothicLight;
    color: rgb(30,33,31);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-collapse .navbar-nav > li > div > button:hover {
	color: rgba(255,255,255,1);
}

/* Navigation Bar Dropdown ("Lifestyle")
========================================*/
.dropdown {
	padding: 0px 15px;
}

.dropdown-menu {
	color: rgb(30,33,31);
	font-family: BankGothicLight;
	font-size: 12px;
}

.open {
	text-align: left;
}

.open > ul.dropdown-menu {
	display: inline;
}

.open > ul.dropdown-menu li {
	margin-left: 8px;
	margin-bottom: 10px;
}

/* Adding bullet point to dropdown menu list item:;
================================================= */
.open > ul.dropdown-menu li:before
{
    content: "\25cf";
    float: left;
    margin-top: 3px;
    margin-right: 4px
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
	background-color: rgb(181,120,67);
	color: rgba(255,255,255,1);
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: rgb(30,33,31);
	display: inline-block;
	margin-left: 4px;
	padding: 0;
}

/* Navigation Bar (Collapsed and Non-Collapsed) --> List Items
============================================================== */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	background-color: transparent;
  	color: rgb(181,120,67);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: rgb(181,120,67);
  background-color: #080808;
}

/* Main page section -- all
=========================== */
.container-fluid {
  padding: 90px 15px;
  text-align: center;
}

/* Main page section -- home
============================ */
