/* Body
======= */
body {
	font-size: 16px;
  	padding-top: 50px;
}

/*Fonts
======= */
@font-face {
    font-family: 'BankGothicLight';
    src: url('/fonts/BankGothicLight.eot');
    src: url('/fonts/BankGothicLight.eot') format('embedded-opentype'),
         url('../fonts/BankGothicLight.woff2') format('woff2'),
         url('../fonts/BankGothicLight.woff') format('woff'),
         url('../fonts/BankGothicLight.ttf') format('truetype'),
         url('/fonts/BankGothicLight.svg#BankGothicLight') format('svg');
}

/* Navigation bar
================= */
.navbar {
	background-color: rgba(219,209,173,1);
	min-height: 100px;
}

.navbar .navbar-header {
	min-height: 100px;
}

/*Uncomment below to center nav options in collapsed state*/
/*.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}*/

/* Navigation bar --> Brand (MDH - Matthew D Huntley)
===================================================== */
.navbar-brand {
    margin-top: 35px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: rgb(181,120,67);
  background-color: transparent;
}

.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav > li > a {
	color: rgb(30,33,31);
	font-family: 'BankGothicLight';
}

.navbar-inverse .navbar-brand span.initials {
	font-size: 4em;
}

.navbar-inverse .navbar-brand span.initialsspan.fullName {
	font-size: 1em;
}

/* Navigation bar --> Hamburger
=============================== */
.navbar-toggle {
	background-color: rgba(30,33,31,1);
	margin-top: 50px;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(181,120,67);
}

/* Navigation Bar Collapsed
=========================== */
.navbar-inverse .navbar-collapse {
	background-color: rgb(181,120,67);
}

/* Navigation Bar Collapsed --> List Items
============================================ */
.navbar-inverse .navbar-collapse .navbar-nav > li {
	display: inline-block;
	float: left;
	padding: 0px;
	text-align: center;
}

.navbar-inverse .navbar-collapse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-collapse .navbar-nav > li > a:focus {
  color: rgba(255,255,255, 1);
}

.navbar-inverse .navbar-collapse > .active > a,
.navbar-inverse .navbar-collapse > .active > a:hover,
.navbar-inverse .navbar-collapse > .active > a:focus {
  color: red;
  background-color: #080808;
}

.navbar-inverse .navbar-collapse .navbar-nav > li > div > button {
	background-color: rgb(181,120,67);
    border: none;
    font-family: BankGothicLight;
    color: rgb(30,33,31);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
    

/* Navigation Bar (Collapsed and Non-Collapsed) --> List Items
============================================================== */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: rgb(181,120,67);
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: rgb(181,120,67);
  background-color: #080808;
}

/* Main page section -- all
=========================== */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Main page section -- home
============================ */
