/* Body
======= */
body {
	font-size: 16px;
  	text-transform: uppercase;
  	color: rgba(30,33,31,1.0);
}

/*Fonts
======= */
@font-face {
    font-family: 'BankGothicLight';
    src: url('/fonts/BankGothicLight.eot');
    src: url('/fonts/BankGothicLight.eot') format('embedded-opentype'),
         url('../fonts/BankGothicLight.woff2') format('woff2'),
         url('../fonts/BankGothicLight.woff') format('woff'),
         url('../fonts/BankGothicLight.ttf') format('truetype'),
         url('/fonts/BankGothicLight.svg#BankGothicLight') format('svg');
}

/* Below declarations apply to all pages
======================================== */
.container-fluid {
  /*padding: 100px 15px;*/
  background-color: rgba(219,209,173,1);
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.container-fluid:after { 
    content: " "; 
    display: block;
    clear: both;
} 
