div#followMe_top.clearfix Follow Me
  br
  a(href='https://www.facebook.com/matthew.huntley.31' target="_blank")
    i.fa.fa-facebook
  a(href='https://twitter.com/MatthewDHuntley' target="_blank")
    i.fa.fa-twitter
  a(href='https://www.linkedin.com/in/matthewdhuntley' target="_blank")
    i.fa.fa-linkedin
  a(href='mailto:matthew.huntley18@gmail.com')
    i.fa.fa-envelope
